$font-stack: 'Roboto', Helvetica, sans-serif;
$primary-color: #333;
$error-color : #cb2c32;

.Container {
  font: $font-stack;
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.Label {
  align-self: flex-start;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 14px;
  margin: 0;
  color: #686e71;
  padding-bottom: 8px;
}
.LabelError {
  color:$error-color;
}

.InputWrapper {
  height: 56px;
  background: #ffffff;
  border: none;
  //border: solid 1px #686e71;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding-left: 16px;
  max-width: 600px;
}
.Active {
  box-shadow: inset 0px -4px 0px #57af80;
  border: 1px solid #d5dadd;
}
.Disabled {
  background: #d5dadd;
}

.Error {
  border: 1px solid rgba(203, 44, 50, 0.05);
  box-shadow: inset 0px -4px 0px $error-color;
  background-color: #f8eaea;
}

.ErrorMessage {
  padding-top: 8px;
}

.Filled {
  border: 1px solid #d5dadd;
}
